<div class="container mt-5">
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-primary">
            SCORE <span class="badge badge-light">4</span>
          </button>
      </div>
      <div  class="col-sm"><br><br><br><br>
        <app-child ></app-child>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-primary">
            COMPTEUR <span class="badge badge-light">5/15</span>
          </button>
      </div>
    </div>
  </div>
 <!-- <ul *ngFor = "let el of list" >
   <li>
   <app-child [idChild]="el.id"></app-child>
</li> 
</ul>   -->
